# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
.env
.npm
*.log

# Backend specific
backend/uploads
backend/node_modules
backend/.env

# Frontend specific
frontend/node_modules
frontend/dist
frontend/.env
frontend/.DS_Store

# Mobile / Capacitor
frontend/android
frontend/ios
frontend/capacitor.config.json.timestamp
